{% extends 'base.html.twig' %}

{% block title %}New Usager{% endblock %}

{% block body %}
    <h1> Inscription</h1>

    {{ include('usager/_form.html.twig') }}

    Déjà inscrit ? Connectez-vous <a href="{{ path('app_login')}}"> ici </a>
{% endblock %}
