{# templates/home.html.twig #}
{% extends "base.html.twig" %}

{% block content %}
    <main role="main" class="container">
        <div class="main-div">
            <div class="card clickable" onclick="location = '{{ path('boutique_page')}}'">
                <img src="{{ asset('images/epicerie.jpg') }}" class="card-img-top" alt="Logo Boutique Symfony"/>
                <div class="card-body">
                    <h2 class="card-title"><i class="fas fa-home"></i> {{ 'Démo Symfony 4.3' | trans }}</h2>
                    <p class="card-text"><i> {% trans %} Ici rien à vendre, c'est juste pour apprendre {% endtrans %}</i></p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}